/* custom */
/* Custom - CSS */
/*Added 22/10/2014 - START*/
.gray-btn{
	background-color: #7F7F74!important;
border-bottom: solid 3px #626160!important;
font-size:12px;}
/*Added 22/10/2014 - END*/
/*Added 06/201/2014 START*/
.cmng-soon{
	width:100px;
	height:100px;
	margin-top:30px;}
.black-font{
	color:#000000!important;}
.slide-cont-match{
	width:360px;
	margin:auto;}
.trphy{
font-size:1.5em;
color:#1EB740;}
.margin-none{
	margin:0!important;}
.nxt-mtch{
	margin-top:10px;
	font-weight:bold;
	font-size:12px;}
.day-cont-sub{
	padding:1px 5px 5px 20px;}
.day-cont{
	padding: 0px 8px 0px 8px;
	font-size:15px;
	font-weight:bold;
	border:solid 2px #B2B1B1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#FFFFFF;
	margin-left:10px;
		}
.day-dets{
	font-size:10px;
	font-weight:bold;
	text-transform: uppercase;
	padding-left:10px;
	padding-top:2px;
	color: #666666;}
.day-cont-green{
	background: #2eae48; /* Old browsers */
	background: -moz-linear-gradient(top,  #2eae48 0%, #127c32 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2eae48), color-stop(100%,#127c32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2eae48 0%,#127c32 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2eae48 0%,#127c32 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2eae48 0%,#127c32 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2eae48 0%,#127c32 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2eae48', endColorstr='#127c32',GradientType=0 ); /* IE6-9 */
}
.day-cont-hours{
background: #e27927; /* Old browsers */
background: -moz-linear-gradient(top,  #e27927 0%, #b4491d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e27927), color-stop(100%,#b4491d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e27927 0%,#b4491d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e27927 0%,#b4491d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e27927 0%,#b4491d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e27927 0%,#b4491d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e27927', endColorstr='#b4491d',GradientType=0 ); /* IE6-9 */
}
.day-cont-min{
background: #69afe5; /* Old browsers */
background: -moz-linear-gradient(top,  #69afe5 1%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#69afe5), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #69afe5 1%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #69afe5 1%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #69afe5 1%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #69afe5 1%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69afe5', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */


}
/*Added 06/201/2014 END*/
/*Added 30/09/2014 START*/
.btn-width{
	width:78px!important;}
.unlock-btn{
	display:none;}
.color-white{
	color:#FFFFFF!important;}
.your-rnk{
	font-size:.8em;}
/*Newly Changed - 09/10/2014 START*/
.winner-tr{
	background-color: #4B9C48!important;
	color: white;
	border-top:none;
}
.winner-tr:hover{
	background-color:#54AD50!important;
}
.ifo-tr{
	background-color:#4094AD!important;
	color:#FFFFFF;}
/*Newly Changed - 09/10/2014 START*/
/*Newly added- 09/10/2014 START*/
.ifo-tr:hover{
	background-color:#38A2C1!important
}
.yr-nk{
background-color:#4094AD!important;
}
/*Newly added- 09/10/2014 END*/
.ldr-bre-wrp{
	height:auto!important;}
.pdng-five{
	padding:10px;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
  width:40px;
    position: relative;
    margin: 0 0 1rem;
    border:none;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .1rem .2rem;
    background-color: transparent;
	color: #FFFFFF;
	font-weight:bold;
}

/* Spin Buttons modified */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"].mod::-webkit-outer-spin-button, 
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
	outline:none;
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
	outline:none;
}
.hidden-tablet{
	display:block;}
.ldr-br-wrpr{
	background-color: #FFFFFF;
	border:solid 1px #CCCCCC;
	border-top:none;
	padding:10px;
	font-weight:bold;}
.ldr-br-wrpr>div{
	margin:5px;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
	color:#666666;}
.table-custm{
	font-size:.85em;
	text-align:center;
	background-color: #FFFFFF;
	border:1px solid #ddd;
	margin-bottom:0;
	width:100%;
	max-width:100%;
	color:#666666;
	font-weight:normal;
	}
.table-custm>tbody>tr>th {
	text-transform:uppercase;
	text-align:center;
	color: #FFFFFF;
	background-color:rgba(62, 62, 62, 0.98)!important;
	}
.table-custm>tbody>tr>td {
	text-transform: capitalize;
	padding:5px;}
.text-algn-left{
text-align: left!important;}
/*Added 30/09/2014 END*/
.win{
	width:44px;
	height: 25px;
	color: white;
	font-size: 1.3em;
	margin-top: 7px;
	text-transform: capitalize;
}
input#placeholder::-webkit-input-placeholder {
   color: #CFCFCF;
}

input#placeholder:-moz-placeholder { /* Firefox 18- */
   color:#CFCFCF;  
}

input#placeholder::-moz-placeholder {  /* Firefox 19+ */
   color:#CFCFCF;  
}

input#placeholder:-ms-input-placeholder {  
   color:#CFCFCF;  
}
.win-green{
	background: rgba(47,171,43,1);
background: -moz-linear-gradient(top, rgba(47,171,43,1) 0%, rgba(47,171,43,1) 34%, rgba(51,110,45,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,171,43,1)), color-stop(34%, rgba(47,171,43,1)), color-stop(100%, rgba(51,110,45,1)));
background: -webkit-linear-gradient(top, rgba(47,171,43,1) 0%, rgba(47,171,43,1) 34%, rgba(51,110,45,1) 100%);
background: -o-linear-gradient(top, rgba(47,171,43,1) 0%, rgba(47,171,43,1) 34%, rgba(51,110,45,1) 100%);
background: -ms-linear-gradient(top, rgba(47,171,43,1) 0%, rgba(47,171,43,1) 34%, rgba(51,110,45,1) 100%);
background: linear-gradient(to bottom, rgba(47,171,43,1) 0%, rgba(47,171,43,1) 34%, rgba(51,110,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fab2b', endColorstr='#336e2d', GradientType=0 );
}
.win-red{
	background: rgba(156,25,25,1);
background: -moz-linear-gradient(top, rgba(156,25,25,1) 0%, rgba(213,34,34,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(156,25,25,1)), color-stop(100%, rgba(213,34,34,1)));
background: -webkit-linear-gradient(top, rgba(156,25,25,1) 0%, rgba(213,34,34,1) 100%);
background: -o-linear-gradient(top, rgba(156,25,25,1) 0%, rgba(213,34,34,1) 100%);
background: -ms-linear-gradient(top, rgba(156,25,25,1) 0%, rgba(213,34,34,1) 100%);
background: linear-gradient(to bottom, rgba(156,25,25,1) 0%, rgba(213,34,34,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c1919', endColorstr='#d52222', GradientType=0 );

}

table.hstry-table{
	width: 80%;

}
table.hstry-table tr{
	padding: 0;
text-align: 
border:solid 1px;
}
table.hstry-table th{
	padding-left: 10px;
}
table.hstry-table td{
	padding-left: 10px;
}
.score-cont{
	width: 40px;
	height:40px;
	background: rgba(139,146,150,1);
background: -moz-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,146,150,1)), color-stop(93%, rgba(59,60,61,1)), color-stop(100%, rgba(59,60,61,1)));
background: -webkit-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: -o-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: -ms-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: linear-gradient(to bottom, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9296', endColorstr='#3b3c3d', GradientType=0 );
color: white;
text-align: center;
font-weight: bold;
font-size: 2em;
}

.totl-pnt{
	height: 60px;
	bbackground: rgba(24,57,97,1);
background: -moz-linear-gradient(top, rgba(24,57,97,1) 0%, rgba(15,36,62,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,57,97,1)), color-stop(100%, rgba(15,36,62,1)));
background: -webkit-linear-gradient(top, rgba(24,57,97,1) 0%, rgba(15,36,62,1) 100%);
background: -o-linear-gradient(top, rgba(24,57,97,1) 0%, rgba(15,36,62,1) 100%);
background: -ms-linear-gradient(top, rgba(24,57,97,1) 0%, rgba(15,36,62,1) 100%);
background: linear-gradient(to bottom, rgba(24,57,97,1) 0%, rgba(15,36,62,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183961', endColorstr='#0f243e', GradientType=0 );
	text-align: center;
	padding-top: 12px;
}
.rnkg-pnts-float{
	float: right;
}
table.rnkg-pnts{
	border: solid 5px #0f243e;
	padding: 0!important;
	float: right;

}
table.rnkg-pnts tr {
	padding: 0!important;
}
table.rnkg-pnts th {
	background-color: #0f243e;
	color: white;
	font-size: .9em;
	padding: 0!important;
}
table.rnkg-pnts td{
	font-size: .83em;
	padding: 0 8px!important;
	
}
.text-left{
	text-align: left!important;
}
.ovrl-scor{
	font-size: 1em;
}
.ovrl-cont{
	margin-top: 5px;
}
.white{
	color: white;
	font-size: .9em;
}
.pints{
	float: right;
	color: white;
	background-color: #0068B3;
	padding: 2px;
	margin-right: 15px;
	margin-top: 0px;
	border-radius: 2px;
	font-size: 1em;
	margin-bottom: 5px;
}
.txt-lft{
	margin-left: 10px;
}
.green{color:#48980E;}
.red{
	color: #d9534f;
}
.advrtsmnt{
	height: 200px;
	max-height: 300px;
	background-color: #e8f6ff;
    border: solid 1px #d9d9de;
    padding: 10px;
}
.pdng-right-ten{
	padding-right: 10px;
}
.find-lgs{
background: rgba(139,146,150,1);
background: -moz-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,146,150,1)), color-stop(93%, rgba(59,60,61,1)), color-stop(100%, rgba(59,60,61,1)));
background: -webkit-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: -o-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: -ms-linear-gradient(top, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
background: linear-gradient(to bottom, rgba(139,146,150,1) 0%, rgba(59,60,61,1) 93%, rgba(59,60,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9296', endColorstr='#3b3c3d', GradientType=0 );
cursor: pointer;
	width: 100%;
	height: 30px;
	display: none;
	color:white;
	font-weight: bold;
	font-size: 1em;
	padding-top: 4px;
	padding-left: 6px;
}
.pdng-right-none{
	padding-right: 0;
}
/*Changed 01/10/2014 - START*/
.predct-btn{
background-color: #333333;
height: 33px;
padding-left: 6px;
padding-right: 2px;
width: 86px;
padding-top: 5px;
}
/*Changed 01/10/2014 - END*/
.team-nm-list{
	color: white;
	font-size:.8em;
	padding-left: 10px;
	padding-top: 9px;
}
.txt-cap{
	text-transform: uppercase;!important;
}
.tm-img-cont{
	width: 50px;
	height: 33px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.tm-img-img{
	max-height: 30px;
	max-width: 40px;
}
.team-logo-cont{
	background-color: #4f4f4f;
	height: 100%;
	width: 50px;
}
.match-day{
	margin-top: 5px;
	font-size: .9em;
}
.btn-slider{
	background: transparent;
	font-weight: normal;
color: rgb(227, 223, 223);
border: none;
padding-top: 4px;

}

.btn-slider:focus,
.btn-slider:active:focus,
.btn-slider.active:focus {
	background-color: transparent;
	color: rgb(255, 255, 255);
}
.btn-slider:hover,
.btn-slider:focus {
	background-color: transparent;
		color: rgb(255, 255, 255);
}
.btn-slider:active,
.btn-slider.active {
	background-color: transparent;
		color: rgb(255, 255, 255);
}
.league-slider-item{
	font-size: 13px;
	text-align: center;
	border: solid 1px #A9A3A3;
	width: 170px;
	margin: auto;
	height: 33px;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgb(157, 157, 157);
	color: white;
}
.circle {
	display: inline-block;
	line-height: 1.2;
	margin: 6px 6px 10px;
	position: relative;
	text-align: center;
	width: 100px;
}.circle strong {
	font-size: 20px;
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 100%;
}
.circle canvas {
	vertical-align: top;
}
.circle canvas {
	height: 60px;
	width: 60px;
	}
.team-a{
	text-transform: capitalize;

}
.btn-bttom{
	bottom: 10px;
position: absolute;
left: 0;
right: 0;
margin: auto;
}
.gray{
	color: #bababa;
}
.lg-name{
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1em;
}
ul.predction-list li{
	background-color: #f9fbfa;
	width: 100%;
	height: 35px;
	padding: 7px;
	padding-left: 10px;
    border: solid 1px #d9d9de;
    border-top: none;
    font-weight: bold;
    font-size: 12px;
    color: #99999f;
}
}
ul.predction-list li:hover{
	background-color: white;
}
ul.predction-list li:first-child{
	border-top: solid 1px #d9d9de;
}
ul.predction-list li.acive{
	border-left: solid 4px green;
	color: black;
}
.team-nme-slip{
    overflow: hidden;
    text-overflow: clip; 
}
/*Changed 01/10/2014 - START*/
.match-item-cont{
	margin: 4px;
	text-align: left;
}
/*14-10-2014 changed - START*/
.match-details{
	width: 44%;
	background-color: #7D7373;
	height: 33px;border-left: solid 16px #333333;
}
/*14-10-2014 changed - END*/
/*Changed 01/10/2014 - END*/
.match-details:first-child{
	border-right: solid 6px #333333;
}
.match-details:last-child{
	border-left: solid 6px #333333;
}

.match-details-hstry{
	width: 100%;
}
/*Changed 01/10/2014 - START*/
.match-date{
	font-size: 11px;
	font-weight: bold;
	padding: 5px 0;
	padding-top: 2px;
}
.match-detls-cont{
	width: 100%;
	height: auto;
    border: solid 1px #d9d9de;
    background-color: white;
    margin-top: -1px;
    text-align: center;
	padding-bottom: 4px;
}
/*Changed 01/10/2014 - END*/
.match-detls-cont-hdr{
	font-size: 11px;
	padding: 4px 8px 2px 9px;
	border-bottom:  solid 1px #d9d9de;
	text-align: left;
}
.stndr-mrg-two{
	margin-top: 5px;
}
.stndr-mrg{
	margin-top: 15px;
}
.lge-hdr{
	width: 100%;
	height: 33px;
    border: solid 1px #d9d9de;
	background-color: white;
	text-align: center;
	padding-top: 2px;
}
/*14-10-2014 changed - START*/
.lge-hdr-hstry{
	height: auto;
	padding: 5px 5px 0 10px;
}
.lge-hdr-logo{
	max-height:35px;
	max-width:50px;
margin-right: 5px;}
.league-slider{
	width: 100%;
	height: 38px;
	border: solid 1px #d9d9de;
	background-color: white;
	margin: auto;
	border-top: none;
	margin-top:-1px;
}
/*14-10-2014 changed - END*/
.lge-hdr > span{
	font-weight: bold;
	font-size: 16px;
}
.pdn-lft-none{
	padding-left: 0!important;
}
.pdng-none{
	padding: 0!important;
}
.legue-cont{
	background-color: white;
	width: 220px;
	height: 217px;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
          border: solid 1px #d9d9de;
          margin-right: 28px;
          padding: 10px;
          text-align: center;
          position: relative;
}
.legue-cont:last-child{
	margin-right: 0;
}
.legue-cont-history{
	height: auto!important;
	text-align: left;
	cursor: pointer;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
	color:#000000;
	padding-top:70px;
}
#footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
	background: #000000;
	text-align:center;
	color:#FFFFFF;
	font-size:12px;
	padding-top:5px;
}
.hide-mobile-menu{
	display:block;}
.show-mobile-menu{
	display:none;}
.user{
	margin-right:3px;}
/*Newly Added - 08/09/2014 - START*/
.signup-cont{
		width:480px;
	height: auto;
	background-color: #ffffff;
	border: solid 1px #d9d9de;
	border-radius: 5px;
	margin: auto;
	overflow:hidden;
	top: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
	color:#000000;}
.pdng{
	padding-top: 6px !important;
	padding-bottom: 6px !important;}
.blck{
	color:#000000;}
.socio{
	margin-top:20px;}
.hr-mnz{
	margin-top:-11px;}
.or{
	margin-top:15px;
	text-align:center;
	font-size:16px;
	color: #666666;
}
.facbk{
	background-color:#3b5998;
	width:100%;
	height:40px;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#FFFFFF;
text-align:center;
font-weight:bold;
padding-top:10px;
margin-bottom:10px;
	}
.facbk:hover{
	background-color:#26427d;}
.facbk a:hover{
	text-decoration:none;}
.mrg-cont-mrg{
	margin-top:12px!important;
	margin-bottom:12px!important;}
.modal-custom{
	height:auto;
	width:410px;}
.heght-auto{
	height:auto!important;
	overflow: hidden;
	padding-bottom:8px;}
.pdng-top-bottom{
	padding:10px 0;}
.gray{
	color: #7D7D7D;}
#userAgreementBox {
height: 150px;
overflow: auto;
padding: 8px;
background-color: #fff;
border: solid 1px #d9d9de;
}
.margin-top-fftn{
	margin-top:15px;}
.cursor-pointer{
	cursor: pointer;
    cursor: hand;}
.modal-backdrop {background-color: trasparant;}
.gry{
	background-color: #f7fafa;
}
.login-btn-padding{
	padding: 5px 20px;
}
.rmebr-me{
	float: right;
	color:#000000;
}
.shadow-two{
border-bottom: 1px solid #eee; 
}
.ftr-btm-brdr{
	border-top: 1px solid #eee;  
}
.margin-left-ten{
	margin-left: 10px;
}
.inner-addon { 
    position: relative; 
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
a.global-link{
	color: #00a0ff;
}
a.global-link:hover{
	text-decoration: underline;
}
a.global-link:active{
	color: #00a0ff;
}
a.global-link:visited{
	color: #00a0ff;
}
.login-footer{
	text-align: center;
	padding-top: 10px;
	background-color: #f7f7f8;
	border-top: solid 1px #d9d9de;
	padding:20px;
	margin-top: 20px;
	color:#000000;
}
.font-weight-none{
	font-weight: normal!important;
}

.login-container{
	width: 390px;
	height: auto;
	overflow:hidden;
	background-color: #ffffff;
	border: solid 1px #d9d9de;
	border-radius: 5px;
	margin: auto;
	top: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.login-wrpr{

	padding: 0 20px;
}
.user-a{
padding: 10px 15px 4px;
text-decoration:none;}
.user-a:hover{
	text-decoration:none;}
.user-phto{
	font-size:20px;
	padding-right:5px;}

@media (max-width: 991px) { 
	.login-footer{
		margin-top: 50px;
	}
	.legue-cont{
		margin-right:5px;
		width: 175px;
	}
}
@media (max-width: 367px) { 
.lge-hdr-hstry{
	height: auto !important;}
	.padding-team-mobile{
		padding: 5px!important;
	}
.score-cont{
	width: 20px;
	height: 20px;
	font-size: 1em;
}
.totl-pnt{
	font-size: 1em;
	padding-top: 0;
}
table.hstry-table a {
	font-size: .8em;
}
table.hstry-table label{
	font-size: .7em;
}

	.lge-hdr-hstry{
	height: 135px;
	padding: 5px!important;
}
/*Newly Added - 09/10/2014 START*/
.ldr-brs{
	height: auto!important;}
/*Newly Added - 09/10/2014 END*/
.ovrl-scor:last-child{
	margin-top: 5px;
}
	.pints{
		float: left;
		margin-left: 5px;
		margin-bottom: 5px;
	}
.legue-cont{
	margin-top: 10px;
	width: 100%;
}
.legue-cont:first-child{
	margin-top: 0;
}
.lge-hdr > span{
	font-size: 12px;
}
.lge-hdr-logo{
	display: none;
}
.lge-hdr{
	height: auto;
	padding: 5px 0;
}
.league-slider{
	width: 100%;
	padding: 0 5px;
}
.league-slider-item{
	width: 100%;
}
.match-details{
	width: 100%;
}
.hide-mob{
	display: none;
}
.match-details:first-child{
	border: none;
	margin-bottom: 7px;
}
.predct-btn{
	background-color: transparent;
	padding-left: 0;
}
.match-date{
	text-align: left;
	margin-left: 5px;
}
.pdng-nne-mob{
	padding:0;
}
.predction-list{
	margin-left: 0px;
	margin-top: 10px;
}
#lg-list{
	width:100%!important;
	margin: auto;
	margin-top: 10px!important;
}

}